In [13]:
import pandas as pd
file = pd.read_csv("dataset\sp500_companies.csv")

print(file)

    Exchange Symbol                    Shortname                     Longname  \
0        NMS   AAPL                   Apple Inc.                   Apple Inc.
1        NMS   NVDA           NVIDIA Corporation           NVIDIA Corporation
2        NMS   MSFT        Microsoft Corporation        Microsoft Corporation
3        NMS   AMZN             Amazon.com, Inc.             Amazon.com, Inc.
4        NMS  GOOGL                Alphabet Inc.                Alphabet Inc.
..       ...    ...                          ...                          ...
497      NMS    CZR  Caesars Entertainment, Inc.  Caesars Entertainment, Inc.
498      NYQ    BWA              BorgWarner Inc.              BorgWarner Inc.
499      NMS   QRVO                  Qorvo, Inc.                  Qorvo, Inc.
500      NYQ    FMC              FMC Corporation              FMC Corporation
501      NYQ   AMTM       Amentum Holdings, Inc.       Amentum Holdings, Inc.

                     Sector                        Industry  Currentprice  \
0                Technology            Consumer Electronics        254.49
1                Technology                  Semiconductors        134.70
2                Technology       Software - Infrastructure        436.60
3         Consumer Cyclical                 Internet Retail        224.92
4    Communication Services  Internet Content & Information        191.41
..                      ...                             ...           ...
497       Consumer Cyclical               Resorts & Casinos         32.82
498       Consumer Cyclical                      Auto Parts         31.88
499              Technology                  Semiconductors         70.85
500         Basic Materials             Agricultural Inputs         50.15
501             Industrials     Specialty Business Services         19.17

         Marketcap        Ebitda  Revenuegrowth           City State  \
0    3846819807232  1.346610e+11          0.061      Cupertino    CA
1    3298803056640  6.118400e+10          1.224    Santa Clara    CA
2    3246068596736  1.365520e+11          0.160        Redmond    WA
3    2365033807872  1.115830e+11          0.110        Seattle    WA
4    2351625142272  1.234700e+11          0.151  Mountain View    CA
..             ...           ...            ...            ...   ...
497     6973593600  3.668000e+09         -0.040           Reno    NV
498     6972155904  1.882000e+09         -0.048   Auburn Hills    MI
499     6697217024  6.731300e+08         -0.052     Greensboro    NC
500     6260525568  7.033000e+08          0.085   Philadelphia    PA
501     4664099328  4.330000e+08         -0.031      Chantilly    VA

           Country  Fulltimeemployees  \
0    United States           164000.0
1    United States            29600.0
2    United States           228000.0
3    United States          1551000.0
4    United States           181269.0
..             ...                ...
497  United States            51000.0
498  United States            39900.0
499  United States             8700.0
500  United States             5800.0
501  United States                NaN

                                   Longbusinesssummary    Weight
0    Apple Inc. designs, manufactures, and markets ...  0.069209
1    NVIDIA Corporation provides graphics and compu...  0.059350
2    Microsoft Corporation develops and supports so...  0.058401
3    Amazon.com, Inc. engages in the retail sale of...  0.042550
4    Alphabet Inc. offers various products and plat...  0.042309
..                                                 ...       ...
497  Caesars Entertainment, Inc. operates as a gami...  0.000125
498  BorgWarner Inc., together with its subsidiarie...  0.000125
499  Qorvo, Inc. engages in development and commerc...  0.000120
500  FMC Corporation, an agricultural sciences comp...  0.000113
501  Amentum Holdings, Inc. provides engineering an...  0.000084

[502 rows x 16 columns]

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\colli\AppData\Local\Temp\ipykernel_24488\4227947410.py:2: SyntaxWarning: invalid escape sequence '\s'
  file = pd.read_csv("dataset\sp500_companies.csv")

In [31]:
#Find all of the companies that start with A

file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Exchange             502 non-null    object
 1   Symbol               502 non-null    object
 2   Shortname            502 non-null    object
 3   Longname             502 non-null    object
 4   Sector               502 non-null    object
 5   Industry             502 non-null    object
 6   Currentprice         502 non-null    float64
 7   Marketcap            502 non-null    int64
 8   Ebitda               473 non-null    float64
 9   Revenuegrowth        499 non-null    float64
 10  City                 502 non-null    object
 11  State                482 non-null    object
 12  Country              502 non-null    object
 13  Fulltimeemployees    493 non-null    float64
 14  Longbusinesssummary  502 non-null    object
 15  Weight               502 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 62.9+ KB